{% extends "layout.html" %}

{% block title %}
    History of Transactions
{% endblock %}

{% block main %}
    <form action="/history" method="get">
        <style>
            table {
                border-collapse: collapse;
            }
            th, td {
                border: 1px solid black;
                padding: 8px;
            }
        </style>

        <div class="mb-3">
            <table style="width: 100%;">
                <thead>
                    <tr>
                        <th style="text-align: left;"><strong>Stock Name</strong></th>
                        <th style="text-align: left;"><strong>Symbol</strong></th>
                        <th style="text-align: right;"><strong>Shares/Operation</strong></th>
                        <th style="text-align: right;"><strong>Price/Operation</strong></th>
                        <th style="text-align: left;"><strong>Operation DateTime</strong></th>
                        <th style="text-align: left;"><strong>Operation</strong></th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in stocks %}
                    <tr>
                        <td style="text-align: left;">{{ row.name }}</td>
                        <td style="text-align: left;">{{ row.symbol }}</td>
                        <td style="text-align: right;">{{ row.shares }}</td>
                        <td style="text-align: right;">{{ row.price }}</td>
                        <td style="text-align: left;">{{ row.operationDateTime }}</td>
                        <td style="text-align: left;">{{ row.operation }}</td>
                    {% endfor %}
                    </tr>
                    <br>
                </tbody>
            </table>
        </div>
    </form>
{% endblock %}
